.elementor-3619 .elementor-element.elementor-element-1173dc0:not(.elementor-motion-effects-element-type-background),
.elementor-3619 .elementor-element.elementor-element-1173dc0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F8F9FA;
}

.elementor-3619 .elementor-element.elementor-element-1173dc0 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 25px 0px 25px 0px;
}

.elementor-3619 .elementor-element.elementor-element-1173dc0>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-3619 .elementor-element.elementor-element-00769cc.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-3619 .elementor-element.elementor-element-00769cc.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3619 .elementor-element.elementor-element-b8fcf35 .pix-img-el,
.elementor-3619 .elementor-element.elementor-element-b8fcf35 .pix-img-div,
.elementor-3619 .elementor-element.elementor-element-b8fcf35 div {
    text-align: left ;
}

.elementor-3619 .elementor-element.elementor-element-b8fcf35>.elementor-widget-container {
    margin: 0px 0px -5px 0px;
}

.elementor-3619 .elementor-element.elementor-element-7831c6a>.elementor-widget-container {
    margin: -10px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-3619 .elementor-element.elementor-element-6a6425e.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-3619 .elementor-element.elementor-element-6a6425e.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3619 .elementor-element.elementor-element-6a6425e.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-3619 .elementor-element.elementor-element-3e3eb173 {
    width: auto;
    max-width: auto;
}

.elementor-3619 .elementor-element.elementor-element-5ea99c19 {
    padding: 60px 0px 60px 0px;
}

.elementor-3619 .elementor-element.elementor-element-727ba3d4>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-3619 .elementor-element.elementor-element-2f555fb>.elementor-widget-container {
    margin: 0px 0px -5px 0px;
}

.elementor-3619 .elementor-element.elementor-element-7c12f3a9>.elementor-widget-container {
    margin: 0px 0px -5px 0px;
}

.elementor-3619 .elementor-element.elementor-element-5e536aa7>.elementor-widget-container {
    margin: 0px 0px -5px 0px;
}

.elementor-3619 .elementor-element.elementor-element-27452777>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-3619 .elementor-element.elementor-element-4966d6ee>.elementor-widget-container {
    margin: 0px 0px -5px 0px;
}

.elementor-3619 .elementor-element.elementor-element-4f535f20>.elementor-widget-container {
    margin: 0px 0px -5px 0px;
}

.elementor-3619 .elementor-element.elementor-element-63279c08>.elementor-widget-container {
    margin: 0px 0px -5px 0px;
}

.elementor-3619 .elementor-element.elementor-element-5c05fc7>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-3619 .elementor-element.elementor-element-750556e1>.elementor-widget-container {
    margin: 0px 0px -5px 0px;
}

.elementor-3619 .elementor-element.elementor-element-9d54edc>.elementor-widget-container {
    margin: 0px 0px -5px 0px;
}

.elementor-3619 .elementor-element.elementor-element-725a154b>.elementor-widget-container {
    margin: 0px 0px -5px 0px;
}

.elementor-3619 .elementor-element.elementor-element-48ec8d1c>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-3619 .elementor-element.elementor-element-4137b27b:not(.elementor-motion-effects-element-type-background),
.elementor-3619 .elementor-element.elementor-element-4137b27b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-3619 .elementor-element.elementor-element-4137b27b {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #F8F9FA;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 20px 0px;
}

.elementor-3619 .elementor-element.elementor-element-4137b27b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3619 .elementor-element.elementor-element-c2b255d.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-3619 .elementor-element.elementor-element-45f0f9f>.elementor-widget-container {
    margin: 0px 0px -5px 0px;
}

.elementor-3619 .elementor-element.elementor-element-45f0f9f {
    width: auto;
    max-width: auto;
}

.elementor-3619 .elementor-element.elementor-element-46de814>.elementor-widget-container {
    margin: 0px 0px -5px 0px;
}

.elementor-3619 .elementor-element.elementor-element-46de814 {
    width: auto;
    max-width: auto;
}

.elementor-3619 .elementor-element.elementor-element-cf6f309>.elementor-widget-container {
    margin: 0px 0px -5px 0px;
}

.elementor-3619 .elementor-element.elementor-element-cf6f309 {
    width: auto;
    max-width: auto;
}

.elementor-3619 .elementor-element.elementor-element-f0f9884>.elementor-widget-container {
    margin: 0px 0px -5px 0px;
}

.elementor-3619 .elementor-element.elementor-element-f0f9884 {
    width: auto;
    max-width: auto;
}

@media(max-width:767px) {
    .elementor-3619 .elementor-element.elementor-element-6a6425e.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: flex-start;
    }

    .elementor-3619 .elementor-element.elementor-element-c2b255d.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center;
    }
}